@media (min-width:1021px) {
   .navbar-brand{
     font-size: 1.7rem;
   }
}
@media (max-width:568px) {
     
}
hr{
    margin-top: -2px;
    width: 90%;
    align-self: center;
}
nav{
    width: 100vw;
    height: auto;
    background-color:#f3a815 ;
} 
.nav_container{
    width: 100%;
    height: auto;
    background-color: transparent;
}
#navbarNav{
    width: 100%;
    align-items: center;
}


.nav-link{
    color: black;
}
.nav_items{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
li{
    font-size: 1.3rem;
    color: black !important;
}
.combine_elem{
    width: 100vw;
    height: 100vh;
    background-image:url("../assets/hero.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.link{
    color: black;
    text-decoration: none;
}
@media (min-width:578px) {
    .nav_items{
        width: 60%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    
}
@media (min-width:1040px) {
    .nav_items{
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    
}
@media (min-width:1040px) {
    .nav_items{
        width: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    
}